body {
    margin: 0;
    background-color: #282d2f !important;
}
.header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}
.content  { 
    margin: 0 auto;
    padding: 15px !important;
    background-color: #484848 !important;
}
.todo-form {
    text-align: center;
    margin-top: 15px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
}

.add-todo {
    margin: 0 auto;
}

.add-todo button {
    margin-top: 5px;
    width: 100%;
}

.todo-list {
    margin-top: 15px;
}
.todo-item {
    list-style: none;
    border-radius: 5px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 65px;
}

.todo-item:not(:first-child) {
    margin-top: 5px;
}

.todo-item:hover .todo-buttons {
    display: block;
}

.todo-buttons {
    float: right;
    display: none;
}

.todo-todo {
    display: none;
}

.todo-done {
    color: green;
    display: inline-block;
}

.btn-done {
    display: none !important;
}

.app-footer {
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid gray;
    background-color: #282d2f;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .content {
        width: 70%;
    }

    .add-todo button {
        width: auto;
        margin-left: 5px;
        margin-bottom: 5px;
    }
}